env: dev
loglevel: debug
shrink:
  short_url_template: http://localhost:44444/%s
postgresql:
  dsn: postgres://urlshortener:12345@localhost:771/urlshortener?sslmode=disable
migrator:
  dsn: postgres://urlshortener:12345@localhost:771/urlshortener?sslmode=disable
http_server:
  port: 44444
  version: 1.0.0
  middleware:
    cors:
      allowed_origins:
        - "*"